<app-nav [isLogged]="isLoggedIn"></app-nav>

<div class="container">
    <div class="user-info">
        <h1 class="msg">Profil de </h1>
        <h1 class="info_user">{{user.firstname}} {{user.lastname}}</h1>
    </div>

    <div class="case">
        <h2><strong>Prénom :</strong> {{user.firstname}}</h2>
        <h2><strong>Nom :</strong> {{user.lastname}}</h2>
        <h2><strong>Age :</strong> {{user.age}}</h2>
        <h2><strong>Role/Association :</strong></h2>
        <ul>
            <li *ngFor="let role of roles">{{ role.name }} dans l'association {{ role.idAssociation}}</li>
        </ul>
    </div>
</div>

<button class="delete-button" (click)="deleteUser()">Supprimer</button>

  
