
<div class="container" id="container">
  <div class="form-container sign-in">
          <h1>Sign In</h1>
          <label for="username">User ID</label>
          <input type="number" id="username" placeholder="user ID" required>
          <label for="password">Password</label>
          <input type="password" id="password" placeholder="Password" required>
          <a (click)="login()"><button>Sign In</button></a>
          <div *ngIf="errorMessage" class="error-message">{{ errorMessage }}</div>
  </div>
  <div class="toggle-container">
      <div class="toggle">
          <div class="toggle-panel toggle-right">
              <h1>Hello, Welcome back!</h1>
              <p>
                  <br/>
                  This site is an angular application for managing associations <br/>
                  To find out more about the developer, click on the following button
              </p>

              <br/> <b>ID Test :</b> 1
              <br/> <b>Mot de passe :</b> password
          </div>
      </div>
  </div>
</div>

<style>
  html, body { height: 100%;
    margin: 0;
    padding:0;}
</style>
